.nav-container {
    position: sticky;
    display: flex;
    top: 64px;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--soft-orange);
    border-radius: 999px;
    gap: 10px;
    padding: 8px;
}

.section-ref-wrapper {
    background-color: var(--soft-orange);
    padding: 8px 16px;
    border-radius: 999px;
    color: var(--black);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

}

.section-ref-wrapper:hover {
    color: var(--orange);
}

.section-ref-wrapper h3 {
    font-weight: 100 !important;
}

.section-ref-wrapper.active h3 {
    font-weight: bold !important;

}

.section-ref-wrapper.active {
    background-color: var(--orange);
    color: var(--white);
}

.burger-wrapper {
    display: none;
}


@media (max-width: 768px) {

    .nav-container {
        justify-content: end;
        top: 8px;
    }

    .nav-wrapper {
        background-color: var(--orange);
        border: 2px solid var(--black);
    }

    .section-ref-wrapper {
        display: none;
    }

    .burger-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 64px;
        padding: 12px;

    }

    .burger-wrapper div {
        width: 100%;
        height: 6px;
        background-color: var(--white);
    }
}