.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 24px;
    width: 100%;
    background: var(--white);
    border: 2px solid var(--black);
    border-radius: 16px;
}

.card-container.row {
    flex-direction: row;
}

.card-container.column {
    flex-direction: column;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    color: var(--black);
    width: 100%;
    max-width: 350px;
}

@media (max-width: 850px) {

    .card-container.column.mobile-row {
        flex-direction: row !important;
    }

    .card-container.mobile-custom-img-bottom {
        flex-direction: column-reverse !important;
        text-align: center;
    }

    .card-container.mobile-custom-img-top {
        flex-direction: column !important;
        text-align: center;
    }

    .card-container.mobile-custom-img-left {
        flex-direction: row !important;
        text-align: left;
    }

    .card-container.mobile-custom-img-right {
        flex-direction: row-reverse !important;
        text-align: right;
    }

    .card-container.mobile-custom-img-bottom {
        flex-direction: column-reverse !important;
        text-align: center;
    }

    .card-container.mobile-custom-img-bottom .card-wrapper {
        text-align: left;
    }

    .card-container {
        padding: 24px;
    }

    .card-container.mobile-row {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .card-container.mobile-column {
        flex-direction: column;
        text-align: center;
    }

    .card-wrapper {
        text-align: left;
    }

    .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .responsive-img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}