.bean-card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
    height: 100%;
    background: #1F1F1F;
    border: 2px solid var(--black);
    border-radius: 16px;
    overflow: hidden; /* Povolit přesah */
}

.area-wrapper {
    position: relative;
    width: 100%;
    height: 200px; /* Stejná výška jako .img-wrapper v Card */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.beans-img {
    position: absolute; /* Umožní volné umístění */
    top: -40px; /* Posune obrázek nahoru */
    left: -30px; /* Posune obrázek doleva */
    max-width: none; /* Zruší omezení šířky */
    width: 250px; /* Udělá obrázek větší */
    height: 250px; /* Udělá obrázek větší */
    object-fit: contain;
}

.card-wrapper p {
    position: relative;
    z-index: 3;
}