.bean-card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
    height: 100%;
    background: #1F1F1F;
    border: 2px solid var(--black);
    border-radius: 16px;
    overflow: hidden;
}

.area-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.beans-img {
    position: absolute;
    top: -40px;
    left: -30px;
    max-width: none;
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.card-wrapper-bento p {
    position: relative;
    z-index: 3;
}

.card-wrapper-bento {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    color: var(--black);
    width: 100%;
    max-width: 350px;
}

@media (max-width: 850px) {
    .bean-card-container{
        align-items: flex-start;
    }

    .card-wrapper-bento{
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
}