.bento-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    max-width: 1100px;
}

.bento-wrapper {
    display: flex;
    width: auto;
    gap: 16px;
    flex-direction: row;
}

.bento-inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.bento-wrapper .bento-inner-wrapper:first-child {
    flex: 1;
}

.bento-wrapper .bento-inner-wrapper:last-child {
    flex: 2;
}

.bento-inner-wrapper > div {
    display: flex;
    flex: 1;
}