.bento-container {
    width: 100%;
    gap: 16px;
    max-width: 1100px;
    margin: 0 auto;
}

.bento-wrapper {
    display: flex;
    width: auto;
    gap: 16px;
    flex-direction: row;
}

.bento-inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bento-wrapper .bento-inner-wrapper:first-child {
    flex: 1;
}

.bento-wrapper .bento-inner-wrapper:last-child {
    flex: 2;
}

.bento-inner-wrapper > div {
    display: flex;
    flex: 1;
}

.margin-fix {
    margin-bottom: 16px;
}

.bento-inner-wrapper.side-by-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 850px) {
    .bento-wrapper {
        flex-direction: column;
    }

    .bento-inner-wrapper {
        width: 100%;
    }

    .bento-wrapper .bento-inner-wrapper:first-child {
        order: 2;
    }

    .bento-wrapper .bento-inner-wrapper:last-child {
        order: 1;
    }

    .bento-inner-wrapper.side-by-side {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .bento-inner-wrapper.side-by-side > div {
        flex: 1 1 45%;
        max-width: 50%;
    }
}