footer {
    width: 100%;
    background: var(--orange);
    color: var(--black);
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 100%;
    padding: 72px 250px;
    border-top: 2px solid var(--black);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.footer-wrapper>div {
    line-height: 2rem;
    font-size: 1.3rem;
}

.footer-wrapper>div a {
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
    transition: 120ms;

}

.footer-wrapper>div a:hover {
    transition: 120ms;
    color: var(--white);
}

.footer-container h1 {
    font-size: 3rem;
}

.credit{
    font-size: 1.4rem;
    margin-top: 24px;
    text-align: center;
}

@media (max-width: 768px) {
    .content-container {
        width: calc(100% - 32px);
    }

    .footer-container {
        justify-content: center;
        text-align: left;
        text-wrap: none;
        width: 100%;
        padding: 72px 32px;
        gap: 32px;
    }

    .footer-wrapper {
        justify-content: center;
        align-items: left;
        width: fit-content;
        text-align: left;
    }
}