* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-orange);
    min-height: 100vh;
}

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    height: 100%;
}

.main-wrapper {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.tech-container {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

#my-stack {
    padding: 165px 0 100px 0;
}

#about-me {
    padding: 165px 0 90px 0;
}

#references {
    padding: 165px 0 132px 0;
}

.references-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;
    align-items: center;
    width: 100%;
    max-width: 1090px;
    padding: 4px;
}

.landing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: var(--soft-orange);
    padding: 96px 0;
}

.left-container {
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.button-wrapper {
    width: fit-content;
}

.contacts-wrapper {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;
    transition: opacity 200ms ease;
}

.contacts-wrapper.isVisible {
    opacity: 1;
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-wrapper>* {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 200ms ease, transform 200ms ease;
}

.contacts-wrapper.isVisible>* {
    opacity: 1;
    transform: translateY(0);
}

.contacts-wrapper>button {
    background-color: #E9FFD8;
}

@media (max-width: 768px) {

    .landing-section {
        margin-top: 64px;
        padding: 96px 16px;
        gap: 100px;
    }

    .main-container {
        grid-template-columns: 8px 1fr 8px;
    }

    .button-wrapper {
        width: 100%;
    }

    .button-wrapper button {
        width: 100%;
    }

    .xxl-text {
        font-size: 32px;
        font-weight: bold;
    }

    .xl-text {
        font-size: 24px;
        font-weight: bold;
    }

    .md-text {
        font-size: 18px;
    }

    .sm-text {
        font-size: 16px;
    }

    .highlight {
        font-size: 18px;
    }

    .tech-container {
        flex-direction: column;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center
    }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.manrope {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

.inter {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.lilita-one {
    font-family: "Lilita One", serif;
    font-weight: 400;
    color: var(--white);
    font-size: 40px;
    letter-spacing: -2px;
    -webkit-text-stroke: 2px var(--black);

    text-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
}

.xxl-text {
    font-size: 64px;
    font-weight: bold;
}

.xl-text {
    font-size: 40px;
    font-weight: bold;
}

.md-text {
    font-size: 24px;
}

.sm-text {
    font-size: 18px;
}

.highlight {
    font-size: 24px;
    font-weight: bold;
    color: var(--orange);
}

.alert {
    color: var(--red);
}

:root {
    --soft-orange: #FFF7F3;
    --soft-lime: #E9FFD8;
    --soft-pink: #FFC9C9;
    --lime: #CDFFA8;
    --orange: #FF8B2B;
    --dark-orange: #B55E17;
    --black: #000000;
    --white: #FFFFFF;
    --red: #FF1A00;
}

.b-shadow {
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 1);
}

.br-shadow {
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}


.contact-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin-bottom: 72px;
}

.white {
    color: var(--white);
}

